In [1]:
from sklearn.preprocessing import MinMaxScaler as mms

new x = old x - min(x) / max(x) - min(x)

In [6]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/car-sales.csv")

In [9]:
df.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [7]:
scaler=mms()
scaler.fit(df) 
#This is giving error bcoz we have categorical data which we need to preprocess it from before

ValueError: could not convert string to float: 'Toyota'

In [8]:
de=df.drop(columns=['Colour','Make','Price'])

In [10]:
de.head()

   Odometer (KM)  Doors
0         150043      4
1          87899      4
2          32549      3
3          11179      5
4         213095      4

In [11]:
de=scaler.fit_transform(de)
scaled_data=pd.DataFrame(data=de,columns=['Odometer (KM)','Doors'])
scaled_data

   Odometer (KM)  Doors
0       0.687732    0.5
1       0.379960    0.5
2       0.105836    0.0
3       0.000000    1.0
4       1.000000    0.5
5       0.435993    0.5
6       0.170957    0.5
7       0.215728    0.5
8       0.241789    0.5
9       0.101136    0.5